<html>
    <% include head %>
    <body>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/adminHome.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

        <div align="center" style="margin-bottom:25%; margin-left: 25%; width:50%; height:50%">
            <div class="row">
                <div class="col s12">
                <div class="card">
                    <div class="card-content">
                    <span class="card-title">Log Character status</span>
                    <p>
                        <div class="row">
                            <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                <input id="characterName" placeholder="Character Name" type="text" class="validate" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                <input id="location" placeholder="Location" type="text" class="validate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                <input id="relationship" placeholder="Relationship" type="text" class="validate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                <input id="job" placeholder="Job" type="text" class="validate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                <input id="assignment" placeholder="Assignment" type="text" class="validate">
                                </div>
                            </div>
                            <div class="row">
                                <a id="logButton" class="waves-effect waves-light btn">Log</a>
                                </div>
                            </div>
                            </form>
                        </div>
                                
                    </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </body>
    <% include foot %>
</html>