<footer class="page-footer pink lighten-5">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="pink-text">Gossip Girl</h5>
                <p class="pink-text text-darken-4">StarStruck</p>
              </div>
              <div class="col l4 offset-l2 s12">
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                developed by
                <a class="pink-text text-darken-4" href="https://github.com/RiflerRick/GossipGirl">RiflerRick</a>
            
            <a class="pink-text text-darken-4 right" href="https://github.com/RiflerRick/GossipGirl">github.com/RiflerRick/GossipGirl</a>
            </div>
          </div>
        </footer>