<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <nav class="nav-extended pink accent-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">
                Gossip Girl
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Admin</a></li>
            </ul>
        </div>
    </nav>
    <h6 align="center">
        StarStruck
    </h6>
    <br>
</head>