<html>

<% include head %>

<body>
    
    <div align="center" style="margin-bottom:25%; margin-left: 25%; width:50%; height:50%">
          <div class="card">
            <div class="card-content">
              <span class="card-title" align="center">Log in</span>
              <div class="row">
                <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                    <input placeholder="Email" id="first_name" type="text" class="validate">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <a href="#" class="waves-effect waves-light btn purple darken-4">Log in</a>
                    </div>
                    </div>
                </form>
                </div>
            </div>
          </div>
    
    </div>
</body>
<% include foot %>
</html>