<html>

<% include head %>

<body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/indexPage.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    
    <div align="center" style="margin-bottom:25%; margin-left: 25%; width:50%; height:50%">
        
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Never miss a thing from Gossip Girl!!!</span>
              <p>We understand your obsession with Gossip Girl, we have it too. In this regard we can help you keep track of your besties from Gossip Girl. Just choose the characters you wanna keep at your finger tips and you will never miss a thing from Gossip Girl. Starting from the whereabouts, the relationships and more juicy info right there in front of you all the time. Just tell us and we will keep you updated.</p>
            </div>
            </div>
        
      </div>
          <div class="card">
            <div class="card-content">
              <span class="card-title" align="center">Log in</span>
              <div class="row">
                <form class="col s12">
                    <div class="row">
                                <div class="input-field col s12">
                                <input placeholder="email" id="email" type="email" class="validate">
                                </div>
                    </div>
                <div class="row">
                    <div class="input-field col s12">
                    <a id="loginButton" class="waves-effect waves-light btn">Log in</a>
                    </div>
                    </div>
                </form>
                </div>
            </div>
          </div>
    
    </div>
</body>
<% include foot %>
</html>