<html>
    <% include head %>

    <body>
        <div align="center" style="margin-bottom:25%; margin-left: 25%; width:50%; height:50%">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Choose your character</span>
                    <div>
                        First you must choose the characters you want to keep track of. You wont miss a thing once you subscribe to the characters you like. So go ahead, this should not take much time...
                    </div>
                <div class="row">
                    <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                        <input placeholder="Character Name" id="charName" type="text" class="validate">
                        </div>
                    </div>
                    </form>
                </div>
                <h6 align="left"><strong>
                    Choose the attributes of the character that you would want to know about and keep track of in real time.</strong>
                </h6>
                <br>    
                <div class="row" align="left">
                    <p>
                    <input type="checkbox" id="whereabouts" />
                    <label for="whereabouts">Whereabouts</label>
                    </p>
                    <p>
                        Know where your character is travelling and never miss a place where they are going.
                    </p>
                </div>
                <br>    
                <div class="row" align="left">
                    <p>
                    <input type="checkbox" id="relationships" />
                    <label for="relationships">Relationships</label>
                    </p>
                    <p>
                        Is your character in a relationship, check out instantly and get instant updates on their status 
                    </p>
                </div>
                <br>
                <div class="row" align="left">
                    <p>
                    <input type="checkbox" id="job" />
                    <label for="job">Job status</label>
                    </p>
                    <p>
                        May be your character is getting a new job. Keep yourself informed.
                    </p>
                </div>
                <br>
                <div class="row" align="left">
                    <p>
                    <input type="checkbox" id="assignments" />
                    <label for="assignments">Assignments</label>
                    </p>
                    <p>
                        Your character may have been assigned with a task that grabs your attention, once again you can keep yourself updated should that concern you.
                    </p>
                </div>
                <div class="row">
                    <a class="waves-effect waves-light btn">Go</a>
                </div>
                </div>
                
            </div>
        </div>

        <%  include foot %>

    </body>

    
</html>